body{
  font-family: georgia, times, serift;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin-left: 25%;
  background-color: rgba(050, 50, 080, 0.2);
}
h1{
  font-size: 2rem;
  line-height: 1.3em;
}
p{
  margin-bottom: 1.6em: 
}

.message{
  border: 4px solid mediumseagreen;
  background: rgba(500, 500, 500, 0.7);
  border-width: 10px;
  border-radius: 10%;
  position: absolute;
  margin-left: 40rem;
}

input[type="text"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px 5%;
}
input[type="submit"]{
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px 6%;
  margin-top: 2rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
    .footer{
      background: #f2f2f2;
      padding: 2rem 0;
      text-align: center;
      margin-top: 15rem;
    }
.control{
  padding: 6px 10px;
  width: 200px;
}
#container_main{
  margin-left: 16%;
}
