
input[type="text"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgba( 23, 165, 137, 1.0);
  margin: 10px 2%;
}

input[type="date"]{
  padding: 20px;
  display: block;
  width: 300px;
  margin: 10px 3%;

}

input[type="submit"]{
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 10em 25%;
  margin-top: 2rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}


.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.control{
  padding: 6px 10px;
  width: 200px;
}
