h1{
  font-size: 2rem;
  line-height: 1.3em;
}

.message{
  border: 4px solid mediumseagreen;
  background: rgba(500, 500, 500, 0.7);
  border-width: 10px;
  border-radius: 10%;
  position: absolute;
  margin-left: 40rem;
}

input[type="text"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px 2%;
}

input[type="date"]{
  padding: 20px;
  display: block;
  width: 300px;
  margin: 10px 3%;
}

input[type="submit"]{
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 10em 25%;
  margin-top: 2rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}


.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.main{
  padding: 2rem;
  margin-top: 0.3%; 
}

    .footer{
      background: #f2f2f2;
      padding: 2rem 0;
      text-align: center;
      margin-top: 20px;
      margin-left: 9.7%;
      font-family: georgia, times;
    }

.control{
  padding: 6px 10px;
  width: 200px;
}

#container_main{
  margin-left: 16%;
}
