  .btn_cancelarPreguntas{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    padding-left: 132px;
    padding-right: 132px;
    margin-left: 25%;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
  }

  .th_DatosIncorrect{
  background: rgba(255, 0, 0, 0.5);
}

  table{
    margin-left: 0.1em;
  }

  .th_preguntas{
  word-break: break-word;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  width: -2em;
  }



  input[type="text"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba( 23, 165, 137, 1.0);
    margin: 10px 2%;
  }

  input:hover{
    background: rgba(10, 80, 91, 0.5);
    border-color: rgba( 23, 165, 137, 1.0);
    color: white;
  }
  
  input[type="date"]{
    padding: 20px;
    display: block;
    width: 300px;
    margin: 10px 3%;
  }
  
  input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 2em 25%;
    margin-top: 2px;
    margin-bottom: 5em;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  } 

  button[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 2em 25%;
    margin-top: 2px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba( 23, 165, 137, 1.0);
    margin: 10px 2%;
  }
  
  select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 330px;
    font-size: 15px;
    background-color: #f9f9f9;
  }

  select:hover{
    background: rgba(10, 80, 91, 0.5);
    color: white;
  }




  