  table{
    font-size: 14px;
    border-collapse: collapse;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  
  th{    
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
  }
  
  td{
    text-align: center;
    word-break: break-word;
  }

.th_sinAjuste{
  word-break: normal;
  text-align: left;
}
.th_datos_person{
  background: rgba(123, 10, 101, 0.1);
}

.th_datos_complemetario{
  background: rgba(12, 100, 81, 0.2);
}
.th_datos_ubicacion{
  background: rgba(10, 155, 10, 0.3);
}
.th_DatosActualizado{
  background: rgba(143, 440, 101, 0.9);
  width: 20em;
}
tbody tr:hover{
  background: rgba(143, 440, 101, 1.4);
}
  
  .container_table{
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  border-color: rgba(88, 88, 88, 0.726);
  }


  
  

  

  
  