input[type="text"]{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid;
  border-color: rgba( 23, 165, 137, 1.0);
  margin: 10px 2%;
}

input[type="submit"]{
  padding: 7px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 1px 28%;
  margin-top: 1rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

select {
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  font-size: 15px;
  background-color: #f9f9f9;
}

select:hover{
  background: rgba(10, 80, 91, 0.5);
  color: white;
}
.container_table{
border: white;
}

.th_DatosIncorrect{
  background: rgba(255, 0, 0, 0.5);
}

.th_DatosActualizado{
  background: rgba(143, 440, 101, 0.9);
  width: 20em;
}
