.titulo1ConfirmarDatos{/*Titulo de confirmar datos eliminar materia*/
	margin-left: 9em;
	line-height: 1.3em;
}

.titulo1AlertEnvio{
	margin-left: 9em;
	line-height: 1.3em;
}

.h3_CargarPeriodoEscolar{/*Titulo de carga periodo escolar*/
	margin-left: 11.5em;
	line-height: 1.3em;
}

.h1_confirmarEliminarPeriodo{
	margin-left: 7em;
	margin-top: 2em;
	line-height: 1.3em;
}