
.main{
  margin-bottom: 10em;
}

.message{
  border: 4px solid mediumseagreen;
  background: rgba(500, 500, 500, 0.7);
  border-width: 10px;
  border-radius: 10%;
  position: absolute;
  margin-left: 40rem;
}

.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.control{
  padding: 6px 10px;
  width: 200px;
}

#container_main{
  margin-left: 16%;
}
