.image_login{
	position: absolute;
	width: 10em;
	height: 10em;
	margin-top: -18em;
	margin-left: 27em;
	border-radius: 2em;
	background: rgba(3, 10, 190, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.recovery_a{
	text-decoration: none;
	color: black;
	border-radius: 20px;
	background: rgba(3, 10, 190, 0.4);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
input[type="text"], input[type="password"]{
	outline: none;
	padding: 20px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #eee;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	margin: 20px auto;
}

input[type="submit"]{
	padding: 10px;
	color: #fff;
	background: #0098cb;
	width: 320px;
	margin: 20px auto;
	margin-top: 0;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #00b8eb;
}

/*--Star Estilos de la p치gina Recuperar contrase침a*/
.cedula[type="text"]{
	padding: 20px 30px 20px 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.verificar_respuestas{
	padding: 10px;
	color: #fff;
	background: #0098cb;
	width: 320px;
	margin: 20px;
	margin-top: 1em;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}


.contrasena_nueva{
	font-weight: bold;
}

button{
	padding: 10px;
	color: #fff;
	background: #0098cb;
	width: 320px;
	margin: 20px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

button:hover{
	background: rgba(10, 80, 91, 0.5);
}

.container_ingresarCedula1{
	display: grid;
	place-items: center;
	background: rgba(0, 0, 0, 0.2);	
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), /* Sombra oscura para el hundimiento */
                inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Sombra clara para el relieve */
    width: 100%;
    min-height: 100vh;
}

.container_ingresarCedula2{
	border: solid;
	border-radius: 1em;
	border-color: rgba(214, 234, 248, 0.7);
	background: rgba(255, 255, 255, 0.9);	
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	padding: 20px;
	margin-bottom: 10px;
}

.container_buttons_recovery{
	display: grid;
	place-items: center;
}


/*--End Estilos de la p치gina Recuperar contrase침a*/

header{
	border-bottom: 2px solid #eee;
	padding: 20px 0;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

header a {
	text-decoration: none;
	color: #333;
}


.message_error{
	border: solid mediumseagreen;
	border-color: red;
	border-radius: 15%;
	margin-left: 57%;	
	position: absolute;
	background-color: rgba(160, 2, 0, 0.8);
	color: white;
	display: block;
    overflow: hidden;
}

.message_success{
	border: solid mediumseagreen;
	border-color: green;
	border-width: 10%;
	border-radius: 15%;
	margin-left: 57%;	
	position: absolute;
	background-color: rgba(30, 100, 0, 0.8);
	color: white;
}