.h1_titulo1AlertEnvio,
.h1_tituloRegistoExitoso,
.titulo1AlertEnvioAsistent,
.h1_confirmarMateria,
.h1_cofirmarPeriodoEs,
.h1_ConfirmarDatos,
.h2_tituloAlertEliminar,
.h1_alertEliminarProfesor,
.h1_confirmarEliminarPeriodo,
.h1_tituloAlert_eliminarAsistente{
    text-align: center;
}

.aviso_obligtorio{
    font-size: 15px;
    text-align: center;
    position: absolute;
    margin-left: 18em;
    margin-top: -1em;
}

.datosIncorret{
  background: rgba(255, 0, 0, 0.5);

}

.datosActualizado{
  background: rgba(143, 440, 101, 0.8);
  border-radius: 10px;
}

.container_InputSubmit{
    margin-left: 15.6em;
}
.container_tablaAddPersona input[type="text"]{
    width: 200px;
  }

.container_InputSubmitPersona{
    margin-left: 6.6em;
}

.container_inputSubmitConfirmarEliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44em;
    padding-bottom: 1em;
}

.container_buttons_deleted_materia{
border: white;
width: 100%;
padding-bottom: 2em;
text-align: center;
}

.container_gInputSubmi{
display: block;
text-align: center;
justify-content: center;
align-items: center;
padding-bottom: 1em;
margin-top: 1em;
}

.container_InputSubmi_reinicio{
display: block;
margin-left: 10rem;
margin-top: 2em;
justify-content: center;
align-items: center;
padding-bottom: 1em;
}

.container_gInputSubmi_success_delete{
display: block;
text-align: center;
justify-content: center;
align-items: center;
padding-bottom: 1em;
margin-top: -7em;
}

.container_gInputSubmit{
display: flex;
margin-left: 17rem;
margin-top: 19em;
justify-content: center;
align-items: center;
padding-bottom: 1em;
position: absolute;
}

.btn_actualizar_datos{
    padding: 15px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin-top: 2rem;
    margin-left: 4px;
    border: double;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.btn_actualizar_datos:hover{
    background: #583CFF;
}

.bConfirmar{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin-top: 2rem;
    margin-left: 4px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}
.bConfirmar:hover{
    background: rgba(20, 20, 110, 0.9);
}

.bDenegar{
    padding: 10px;
    color: #fff;
    background: rgba(200, 20, 20, 0.9); 
    width: 320px;
    margin-top: 2rem;
    margin-left: 4px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}
.bDenegar:hover{
    background: rgba(100, 20, 20, 0.9);
}

input[type="text"]{
    outline: none;
    padding: 8px;
    display: block;
    width: 180px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba( 23, 165, 137, 1.0);
  }

input[type="password"]{
    outline: none;
    padding: 11px;
    display: block;
    width: 180px;
    border-radius: 3px;
    border: 1px solid;
    border-color: rgba( 23, 165, 137, 1.0);
  }
  
  input[type="date"]{
    padding: 20px;
    display: block;
    width: 150px;
  }
  
  input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;

  }

  input[type="submit"]:hover{
    background: rgba(15, 9, 117, 0.8);
  }

  button[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
  }

  button[type="reset"]{
    padding: 10px;
    color: #fff;
    background: #0081cf;
    width: 320px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
  }

  .update[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 100px;
    margin: 0 auto;
    margin-top: 2rem;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
  }


select{
  border: 1px solid #ccc;
  padding-top: 1em;
  width: 12em;
  padding-bottom: 1em;  
  font-size: 15px;
  background-color: #f9f9f9;
  text-align: center;
}

select:hover{
  background: rgba(10, 80, 91, 0.5);
  color: white;
}
